html {
    margin: 0;
    padding: 0;
}

body {
    margin:0;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(235, 160, 40), rgb(172, 223, 78));
}

section {
  margin: 0px;
  padding: 0px;
}

*{
  border: dashed 1px red;
}

.postcard-container{
  max-width: 500px;
  margin: auto;
}


/* HEADER SECTION */
#header{
  display:flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 20px;
}

#header h1{
  display: inline;
  vertical-align: middle;
  height: 30px;
}

#header img{
  display: inline;  
  vertical-align: middle;
}

#header h1{

  font-size: 40px;
}

#header img{
  width: 90px;

}



 /* CONTENT SECTION */

#content {
  display: flex;
}


 .message{
  width: 50%;
 }

 .form{
  width: 50%;
 }